<!DOCTYPE html>
<html>
<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1">
  <!-- Le styles -->
  <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                    ->prependStylesheet($this->basePath('panelsearch/css/style.css'))
                    ->prependStylesheet($this->basePath('panelform/css/style.css'))
                    //->prependStylesheet($this->basePath('jtable/themes/redmond/jquery-ui-1.8.16.custom.css'))
                //    ->prependStylesheet($this->basePath('jtable/jtable.css'))

  ?>


  <!-- Scripts -->

  <?= $this->headScript()
                      ->prependFile($this->basePath('panelform/js/close.js'))
  //  ->prependFile($this->basePath('panelsearch/js/tabresult.js'))
//  ->prependFile($this->basePath('jtable/scripts/jquery-ui-1.8.16.custom.min.js'))
//  ->prependFile($this->basePath('jtable/Scripts/jtable/jquery.jtable.js'))

  ?>

</head>
<body>
<!-- Trigger/Open The Modal -->
<button id="mybtn" class="btn btn-success">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    
<div class="panel " >
  <div class="panel-body">
  <div class="row">
    <div class="co">
        <?= $this->form()->openTag($form); ?>
 <blockquote>
 <p>Saisie d'une nouvelle action </p>

</blockquote>
        <div class="form-group">

            <?= $this->formElement($form->get('action')); ?>
            <?= $this->formElementErrors($form->get('action')); ?>
        </div>

        <div class="form-group">

            <?= $this->formElement($form->get('responsable')); ?>
            <?= $this->formElementErrors($form->get('responsable')); ?>
        </div>

        <div class="form-group">

            <?= $this->formElement($form->get('responsable1')); ?>
            <?= $this->formElementErrors($form->get('responsable1')); ?>
        </div>

        <div class="form-group">

            <?= $this->formElement($form->get('responsable2')); ?>
            <?= $this->formElementErrors($form->get('responsable2')); ?>
        </div>

        <div class="form-group">

            <?= $this->formElement($form->get('commentaire')); ?>
            <?= $this->formElementErrors($form->get('commentaire')); ?>
        </div>
         <div class="form-group">

            <?= $this->formElement($form->get('destinataires')); ?>
            <?= $this->formElementErrors($form->get('destinataires')); ?>
        </div>


<div class="bbb2">
  <?= $this->formElement($form->get('Annuler')); ?>



  <?= $this->formElement($form->get('Enregistrer')); ?>
</div>







        <?= $this->form()->closeTag(); ?>
    </div>
</div>
  </div>
</div>


  </div>

</div>



</body>

<script>

var modal = document.getElementById('myModal');

var btn = document.getElementById("mybtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


</html>
