<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Find Entreprise</title>

    <script>

     function delet_c(client_id)
      {

          $.ajax({
              type : 'POST',
              url  : '/Comme/goentrprise',
              data : {'id': client_id},

              success: function (data)
              {


              },
              failure: function ()
              {

              }

          });

      }
</script>
  </head>
  <body>

  </body>
</html>
