.modal  {
    color: black;
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.model1 {
    color: black;
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    top: -80px;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
    position: relative;
    top: -15px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
   
}
.scrollbar{
    position: relative;
    top: -100px;
width:100%;
height:160%;
background-color:lightgray;

overflow-y:scroll;
float:left;
}
.scrollbar1{
    position: relative;
    top: -100px;
width:100%;
height:160%;
background-color:lightgray;

overflow-y:scroll;
float:left;
}

.modal-content1 {
    position: relative;
    top: -10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;


   
}

/* The Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 .md1{ position: relative; right: 1%;}.md2{ position: relative; right: -30%; top:-60px; } .md3{ position: relative; right: -62%; top:-120px; } 
 .md4{ position: relative; right: 1%; top:-100px; } .md5{ position: relative; right: -30%; top:-174px; } 
 .md6{ position: relative; right: 1%; top:-170px; }
 .md7{ position: relative; right: 1%; top:-174px; } 
 .md8{ position: relative; right: 1%; top:-174px; } 
 .md9{ position: relative; right: 1%; top:-174px; } .md10{ position: relative; right: -30%; top:-248px; } 
 .md11{ position: relative; right: 1%; top:-244px; } 
 .mdbtn{ position: relative ; right: -54%; top: -255px;}